<h1>Payment Calculation</h1>

<form action = "/payment/results">
    
    <!--here we see how label for and input id become important -- multiple labels-->
    <!--I chose the names apr, years, and principal-->
    <label for = "apr_input">APR</label>
    <input id = "apr_input" type = "text" name = "apr">
    
    <label for = "num_years">Number of years</label>
    <input id = "num_years" type = "text" name = "years">
    
    <label for = "principal">Principal</label></label>
    <input id = "principal" type = "text" name = "principal">
    
    <button>Calculate monthly payment</button>
            
</form>