<h1>Random Calculation</h1>

<form action = "/random/results">
    
    <label for = "min_input">Minimum</label>
    <!--i chose the names here-->
    <input id = "min_input" type = "text" name = "min_input_user">
    
    <label for = "max_input">Maximum</label>
    <!--i chose the names here-->
    <input id = "max_input" type = "text" name = "max_input_user">    
    
    <button>Pick random number</button>

</form>