<h1>Random Results</h1>

<dl>
    <dt>Minimum</dt>
    <dd><%= @min_input%></dd>
    
    <dt>Maximum</dt>
    <dd><%= @max_input%></dd>
    
    <dt>Minimum</dt>
    <dd><%= @rand_answer_str%></dd>
    
</dl>