<h1>Square Calculation</h1>

<!--summon the form, this is the parent element-->
<!--links the form's inputs into the results-->
<form action = "/square/results">

    <!--for ID's what the label points to, if click on label then the associated input will be selected-->
    <label for = "the_input_num">Enter a number</label>
    
    <!--user_number must match in the variable name for grading-->
    <!--this starts the query string-->
    <!--id is the identification for what the label is supposed to point to-->
    <input id = "the_input_num" type = "text" name = "user_number">
    
    <button>Calculate square</button>

</form>